*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;

}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    background-image: url("https://source.unsplash.com/1600x900/?landscape");    
}
.login{
    text-shadow: 5px 3px 10px rgba(0, 0, 0, 0.445);
    background-color: rgba(0, 0, 0, 0.555);
    border-radius: 10px;
    margin-bottom: 125px;
    box-shadow: 4px 5px 13px rgba(0, 0, 0, 0.527);
    max-width: 400px;
    padding: 40px;
}
.login h2{
    margin-bottom: 37px;
    font-size: 30px;
    color: white;
    text-align: center;
}
#icone{
    width: 300px;
    text-align: center;
    margin-bottom: 40px;
    margin-top: -21px;
    
}
#icone ul > li{
    display: inline;
}
#icone ul > li > a > img{
    width: 30px;
    margin: 10px;
    transition: 0.5s;
}
#icone ul > li > a > img:hover{
    width: 40px;
    
}
.login .box-user{
    position: relative;

}
.login .box-user input{
    width: 100%;
    padding: 10px 0;
    outline: none;
    border: 0;
    background: transparent;
    border-bottom: 1px solid white;
    color: white;
    font-size: 16px;
    margin-bottom: 30px;

}
.login .box-user label{
    position: absolute;
    top: 0;
    left: 0;
    pad: 10px 0;
    color: white;
    font-size: 16px;
    pointer-events: none;
    transition: .5s;
}
.login .box-user input:focus~label,
.login .box-user input:valid~label{
    top: -20px;
    left: 0;
    color: black;
    font-size: 12px;
    background-image: linear-gradient(90deg, white, transparent);
    padding: 3px;
    border-radius: 3px;
    width: 100%;

}
.forget{
    font-size: 14px;
    color: rgb(230, 223, 223);
    float: left;
    margin-top: -5px;
    transition: 1s;
}
.forget:hover{
    color: black;
    text-transform: uppercase;
}
.btn{
    position: relative;
    display: inline-block;
    padding: 12px 20px;
    color: white;
    text-decoration: none;
    font-size: 13px;
    text-transform: uppercase;
    letter-spacing: 4px;
    font-weight: 700;
    margin-top: 20px;
    transition: .5s;
    overflow: hidden;
    float: right;

}
.btn:hover{
    background-color: white;
    border-radius: 5px;
    color: rgb(2, 23, 29);
}
.btn span{
    position: absolute;
    display: block;
}
.btn span:nth-child(1){
    top: 0;
    left: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(90deg, transparent, white);
    animation: btn1 1s linear infinite;
}
@keyframes btn1{
    0%{
        left: -100%;
    }
    50%,
    100%{
        left: 100%;
    }
}
.btn span:nth-child(2){
    top: -100%;
    right: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(180deg, transparent, white);
    animation: btn2 1s linear infinite;
    animation-delay: .20s;
}
@keyframes btn2{
    0%{
        top: -100%;
    }
    50%,
    100%{
        top: 100%;
    }
}
.btn span:nth-child(3){
    bottom:0;
    right: -100%;
    width: 100%;
    height: 4px;
    background: linear-gradient(270deg, transparent, white);
    animation: btn3 1s linear infinite;
    animation-delay: .45s;
}
@keyframes btn3{
    0%{
        right: -100%;
    }
    50%,
    100%{
        right: 100%;
    }
}
.btn span:nth-child(4){
    bottom:-100%;
    left: 0;
    width: 4px;
    height: 100%;
    background: linear-gradient(360deg, transparent, white);
    animation: btn4 1s linear infinite;
    animation-delay: .70s;
}
@keyframes btn4{
    0%{
        bottom: -100%;
    }
    50%,
    100%{
        bottom: 100%;
    }
}